.quoter-plan {
  position: relative;
  margin: 20px;

  color: black;

  &__title {

    font-size: 20px;
  }

  &__progress {
    position: relative;
    margin-top: 15px;

    &-img {
      text-align: center;
    }

    &-number {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
}