.horizontal-menu {
  position: absolute;
  top: 0;
  left: 20vw;

  width: 80vw;
  height: 5vh;

  @include container-fluid();

  &__wrapper {
    @include container();
    @include row();
  }

  &__container {
    height: 100%;
    padding-top: 25px;

    @include xs-col(11);

    &._right {
      margin-top: 7px;

      display: flex;
    }
  }

  &__logo img {
    width: auto;
    height: 30px;
  }

  &__name {
    text-align: right;

    @include xs-col(18)
  }

  &__exit {
    text-align: right;

    @include xs-col(5);
  }
}