.market-page {
  position: relative;

  @include container-fluid();

  &__wrapper {
    @include container();
    @include row();
  }

  &__goods-icon {
    position: relative;
    top: 20px;
    left: -20px;
  }

  &__content {
    @include row();
  }
  //&__title {
  //  padding: 30px;
  //
  //  color: black;
  //  font-size: 40px;
  //  font-weight: bold;
  //  text-align: center;
  //
  //  @include xs-col(24);
  //}

  &__tabs {
    width: 100%;

    &-content {
      margin: 10px 0;

      display: flex;
    }
  }
}