.recent-activity {
  position: relative;
  margin: 20px;

  color: black;
  font-size: 20px;

  background: white;
  box-shadow: 0 3px 10px black;

  @include xs-col(10);

  &__title {
    position: relative;
    top: 12px;
    left: -20px;

    & img {
      width: 52%;
    }
  }

  &__content {
    margin-top: 20px;
  }

  &__item {
    position: relative;
    margin: 15px 0;

    align-items: center;

    @include row();
    @include xs-col(24, 0);

    &-icon {
      display: flex;
      align-items: center;

      @include xs-col(2);

      & img {
        width: 100%;
        height: auto;
      }
    }

    &-text {
      display: flex;
      justify-content: center;
      align-items: center;

      color: #666666;
      font-size: 16px;

      @include xs-col(15, 0);
    }

    &-coin {
      position: relative;
      display: flex;
      align-items: center;

      text-align: center;

      @include xs-col(3);
      & img {
        width: 50%;
        height: 50%;
      }

      &-price {
        position: absolute;
        top: 7px;
        left: 6px;

        color: white;
        font-size: 15px;
      }
    }
  }
}