.badges-page-block {
  margin-bottom: 20px;

  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 10px black;

  @include xs-col(24);

  &__title {
    padding: 30px;

    color: black;
    font-size: 24px;
    font-weight: bold;
  }

  &__content {
    //justify-content: center;

    @include row();
  }
}