.departments-page-block {
  position: relative;
  margin-bottom: 50px;

  color: black;

  background: #e2cf91;

  @include xs-col(24);
  @include row();

  &__chart {
    position: absolute;
    right: 70px;
    top: 0;

    width: 150px;
    height: 100px;

    color: #e2cf91;
    text-align: center;

    background: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    &-number {
      font-size: 40px;
    }
  }

  &__leader {
    position: absolute;
    top: 140px;

    text-align: center;

    @include xs-col(4);
    @include xs-offset(1);

    &-avatar img {
      width: 60%;
      height: 60%;
      border-radius: 50%;
    }
  }

  &__image {
    margin-top: 75px;

    text-align: center;

    @include xs-col(24);

    & img {
      width: auto;
      height: auto;
    }
  }

  &__welcome {
    margin-top: 25px;

    @include xs-col(24);

    &-title {
      color: white;
      text-align: left;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 500;
      letter-spacing: 1px;
    }

    &-text {
      padding: 30px;

      color: #8c6435;
      font-size: 20px;
    }
  }
}