.vertical-menu {
  position: fixed;
  width: 19vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  background: #b1ba1d;

  &__item {
    margin-top: 25px;

    width: 100%;
    height: 80px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    color: #848417;
    text-decoration: none;

    &-icon {
      position: absolute;
      transform: translateY(-25%);

      & svg {
        fill: #848417;
        width: 60px;
        height: 60px;
      }
    }

    &:hover {
      color: white;

    background: rgba(132,132,23, 1);

      svg {
        fill: white;
      }
    }

    &._logo {
      margin-top: 0;

      align-items: center;

      font-size: 40px;
      color: white;
    }
  }

  &__container {
    align-self: flex-start;
    @include row();

    &._center {
      margin-top: -100px;
    }
  }
}