.profile-card {
  position: relative;

  color: black;
  @include row();
  @include xs-col(24, 0);

  &__avatar {
    margin: 70px 50px;

    width: 150px;
    height: 150px;

    & img {
      border-radius: 50%;
    }
  }

  &__data {
    margin: 45px 0;

    display: flex;
    align-content: space-between;
    flex-wrap: wrap;

    @include xs-col(6);

    &-name {
      font-size: 24px;
      font-weight: bold;
    }

    &-email {
      color: #666666
    }

    &-phone {
      color: #666666;
    }
  }

  &__duties-content {
    color: #666666;
  }

  &__chart {
    position: absolute;
    top: 0;
    right: 100px;

    width: 150px;

    text-align: center;
    color: white;

    background: #848417;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    &-top {
      padding-bottom: 10px;

      background: #e2cf91;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;

      &-text {
        padding: 0 10px;
      }
    }
    &-top-number {
      font-size: 45px;
      font-weight: bold;
    }

    &-bottom {
      padding: 25px 10px;
    }
  }
}